<footer class="main-footer">
  <div class="footer-cnt">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="logo">
            {% if logo %}
              <a href="{{ home }}">
                <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
              </a>
            {% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}
          </div>
        </div>
        <div class="col-md-7 hidden-sm hidden-xs">
          <nav class="footer-mnu">
            {% if informations %}
              <ul class="nav navbar-nav">
                {% for information in informations %}
                  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}
                <li><a href="/skidki">Скидки</a></li>
                <li><a href="{{ contact }}">{{ text_contact }}</a></li>
              </ul>
            {% endif %}
          </nav>
        </div>
        <div class="col-md-2 col-sm-6">
          <nav class="nav-social">
            <ul>
              <li><a href="https://vk.com" rel="nofollow" target="_blank"><i class="fa fa-vk"></i></a></li>
              <li><a href="https://facebook.com" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://instagram.com" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-phone">
    <div class="container">
      <div class="col-sm-12">
        <div class="site-phone_wrap">
          <div class="site-phone">{{ telephone }}</div>
          <a href="#callback" class="callback">Заказать звонок</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="callback" class="callback-form product-popup">
  <h2>Заказать звонок</h2>
  <p>Введите номер телефона и наш менеджер перезвонит вам в течении <strong>15 минут</strong>.</p>

  <form class="ajax-form">
    <!-- Hidden Required Fields -->
    <input type="hidden" name="project_name" value="IphoneService">
    <input type="hidden" name="admin_email" value="{{ email }}">
    <input type="hidden" name="form_subject" value="Заявка с сайта Айфонсервис">
    <!-- END Hidden Required Fields -->

    <input class="form-control" type="tel" name="Телефон" placeholder="Введите ваш телефон..." required>
    <button class="btn btn-primary">Заказать</button>
  </form>
  <div class="success">Спасибо за заявку!</div>
</div>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>