<!--Vantage module start-->
<div class="vantage-module">
  <div class="list-group">
    <blockquote>
      <ul>
        <li>
          <span><span><i class="fa fa-{{ icon_warranty }}"></i></span>{{ custom_warranty }}</span>

          {{ text_warranty }}
        </li>
        <li>
          <span><span><i class="fa fa-{{ icon_service }}"></i></span>{{ custom_service }}</span>

          {{ text_service }}
        </li>
        <li>
          <span><span><i class="fa fa-{{ icon_price }}"></i></span>{{ custom_prices }}</span>

          {{ text_price }}
        </li>
        <li>
          <span><span><i class="fa fa-{{ icon_delivery }}"></i></span>{{ custom_delivery }}</span>

          {{ text_delivery }}
        </li>
      </ul>
    </blockquote>
  </div>
</div>

{#
{% if html %}
  {{ html }}
{% endif %}#}

<!--Vantage module end-->
